<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--</head>-->

<!--<body>-->

<!--<h2>환영합니다!</h2>-->
<!--<h2>본인의 문화 취향을 선택해주세요</h2>-->


<!--<input type="text" class="form-control" placeholder="프로필 닉네임 입력" id="profile-name" size="20">-->


<!--&lt;!&ndash;<input type="text" class="genre-list" placeholder="장르 입력" size="20">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" class="genre-list" placeholder="장르 입력" size="20">&ndash;&gt;-->

<!--&lt;!&ndash;id="profile-genre"&ndash;&gt;-->


<!--<button type="button" id="create-btn"-->
<!--        class="btn btn-primary btn-sm">등록</button>-->

<!--<script src="/js/profile.js"></script>-->
<!--</body>-->
<!--</html>-->