# Default ignored files
/../../../코드/kakao-test/.idea/shelf/
/../../../코드/kakao-test/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../코드/kakao-test/.idea/httpRequests/
# Datasource local storage ignored files
/../../../코드/kakao-test/.idea/dataSources/
/../../../코드/kakao-test/.idea/dataSources.local.xml
